.app__header {
  background-color: var(--color-black);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 117px;
  font-size: 80px;
}

.app__header_img img {
  width: 80%;
}

@media screen and (max-width: 400px) {
  .app__header-h1 {
    font-size: 60px;
  }
}